glm/out/*
vs_proj/*.filters
*.tlog
*.exe
*.lastbuildstate
*.pdb
*.obj
*.o
*.d
*_generated.h
hex0ad.html
hex0ad.data
hex0ad.js
hex0ad.wasm
vs_proj/x64/Debug/*
vs_proj/x64/Release/*
vs_proj/Debug/*
vs_proj/.vs/*
*.sublime-workspace
0ad_assets/*
!0ad_assets/Download.txt
hex0ad
make_assets
