glm/out/*
vs_proj/*.filters
*.tlog
*.exe
*.lastbuildstate
*.pdb
*.obj
*.o
*.d
vs_proj/x64/Debug/*
vs_proj/x64/Release/*
vs_proj/Debug/*
vs_proj/.vs/*
assets/*
!assets/Download.txt
hex0ad
